@{
    ViewData["Title"] = "ForgotPassword";
}

<section class="text-center container">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Forgot Password</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-10">
                                <!-- Email input -->
                                <div class="form-outline mb-4" data-mdb-input-init>
                                    <input type="email" id="email" class="form-control">
                                    <label class="form-label" for="email">Email address</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init id="send-token">Send</button>
                            </div>
                        </div>

                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="text" id="token" class="form-control" />
                            <label class="form-label" for="token">Token</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="password" id="password" class="form-control" />
                            <label class="form-label" for="password">Password</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4" data-mdb-input-init>
                            <input type="password" id="re-password" class="form-control" />
                            <label class="form-label" for="re-password">Re Password</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$('#send-token').click(async function(event) {
    event.preventDefault();

    var email = $('#email').val();

    if (email.trim() === '') {
        showToast('Please enter your email');
        return;
    }

    $(this).prop('disabled', true);

    var data = {
        email: email
    };

    try {
        const response = await fetch('http://localhost:5000/api/User/token', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        const responseData = await response.json();
        if (responseData.isSuccess) {
            showToast(responseData.message);
        } else {
            showToast(responseData.message);
        }
    } catch (error) {
        console.error('There was an error!', error);
        showToast('There was an error!');
    } finally {
        $(this).prop('disabled', false);
    }
});

$('form').submit(async function(event) {
    event.preventDefault();

    var email = $('#email').val();
    var token = $('#token').val();
    var password = $('#password').val();
    var rePassword = $('#re-password').val();

    if (email.trim() === '' || token.trim() === '' || password.trim() === '' || rePassword.trim() === '') {
        showToast('Please fill in all fields');
        return;
    }

    if (password !== rePassword) {
        showToast('Passwords do not match');
        return;
    }

    $(this).find('button[type="submit"]').prop('disabled', true);

    var data = {
        email: email,
        token: token,
        password: password,
        rePassword: rePassword
    };

    try {
        const response = await fetch('http://localhost:5000/api/User/verify-token', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        const responseData = await response.json();
        if (responseData.isSuccess) {
            showToast(responseData.message);
            window.location.href = '/authen/login';
        } else {
            showToast(responseData.message);
        }
    } catch (error) {
        console.error('There was an error!', error);
        showToast('There was an error!');
    } finally {
        $(this).find('button[type="submit"]').prop('disabled', false);
    }
});

</script>